#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DH_GOLANG_INSTALL_EXTRA = contrib/sshd

%:
	dh $@ --builddirectory=_build --buildsystem=golang

override_dh_auto_build:
	export CGO_ENABLED=0
	export DH_GOLANG_BUILDPKG="github.com/foxboron/ssh-tpm-agent/cmd/..."
	$(MAKE) man
	dh_auto_build

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
